doctype html
html(lang="en")
  head
    title= title

    // Add favicons
    link(rel="apple-touch-icon", sizes="57x57", href="http://opengeoscience.github.io/geojs/favicons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="http://opengeoscience.github.io/geojs/favicons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="http://opengeoscience.github.io/geojs/favicons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="http://opengeoscience.github.io/geojs/favicons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="http://opengeoscience.github.io/geojs/favicons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="http://opengeoscience.github.io/geojs/favicons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="http://opengeoscience.github.io/geojs/favicons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="http://opengeoscience.github.io/geojs/favicons/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="http://opengeoscience.github.io/geojs/favicons/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="http://opengeoscience.github.io/geojs/favicons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="http://opengeoscience.github.io/geojs/favicons/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="http://opengeoscience.github.io/geojs/favicons/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="http://opengeoscience.github.io/geojs/favicons/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="http://opengeoscience.github.io/geojs/favicons/manifest.json")
    link(rel="shortcut icon", href="http://opengeoscience.github.io/geojs/favicons/favicon.ico")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage", content="http://opengeoscience.github.io/geojs/favicons/mstile-144x144.png")
    meta(name="msapplication-config", content="http://opengeoscience.github.io/geojs/favicons/browserconfig.xml")
    meta(name="theme-color", content="#ffffff")

    // Include common files
    each css in defaultCss
      link(rel="stylesheet" href="#{css}")
    each src in defaultJs
      script(type="text/javascript" src="#{src}")

    block exampleHeader
      // Include example specific files
      each css in exampleCss
        link(rel="stylesheet" href="#{css}")
      each src in exampleJs
        script(type="text/javascript" src="#{src}")

  body
    if !hideNavbar
      // Add a navbar
      nav.navbar.navbar-default(role="navigation")
        .container-fluid
          .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target="gj-navbar-collapse")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="https://github.com/OpenGeoscience/geojs", target="gj-homepage") GeoJS

          .collapse.navbar-collapse#gj-navbar-collapse
            block headerButtons
            ul.nav.navbar-nav.navbar-right
              block showSource
                if docHTML
                  li
                    a.gj-show-source-link(href="#{docHTML}", target="gj-docco")
                      | Source
              if !about.hidden
                li
                  a.gj-show-about-link(href="#" data-toggle="modal" data-target="#about-modal")
                    | About

      if ! about.hidden
        // Add an about modal dialog
        .modal.fade#about-modal
          .modal-dialog.modal-md
            .modal-content
              .modal-header
                h4.modal-title !{about.title || title}
              .modal-body
                p.text-left !{about.text}
                p.text-right © 2014, Kitware, Inc.
              .modal-footer
                button.btn.btn-primary(data-dismiss="modal" data-target="#about-modal") Close


    // Add the default main content element
    block mainContent
      #map
